/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

The main site's content section

*/

.site-content {

    position: relative;
    z-index: z("site-content");

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Temp Quick Fix

*/

.work-plugin {
    &.detail-view {
        .content-section {
            opacity: 1;
            // reset container
            .container {
                padding: 0;
            }
            .col-1 {
                .col {
                    width: 100%;
                }
            }
            .col-1-1 {
                .col {
                    width: 50%;
                }
            }
        }
    }
}

