/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

The main site's content section

*/

.site-content {

    position: relative;
    z-index: z("site-content");

    // TBR

    .tpl-logo-addition-black & {
        padding-top: ($brand-logo-addition-height-xs + $brand-logo-addition-height-xs/2);
        @media (min-width:$screen-md) {
            padding-top: ($brand-logo-addition-height-md + $brand-logo-addition-height-md/2);
        }
        @media (min-width:$screen-xl) {
            padding-top: ($brand-logo-addition-height-xl + $brand-logo-addition-height-xl/2);
        }
        @media (min-width:$screen-xxl) {
            padding-top: ($brand-logo-addition-height-xxl + $brand-logo-addition-height-xxl/2);
        }
    }

    // TBR

}
