// important: do not define anything else in this body tag
// it's only here because these settings are only used together with the footer
body {
    // only enabled if we're not on the styleguide page
    &:not(.tpl-styleguide) {
        @if $site-footer-fixed-enabled == true {
            @include set-site-footer-body-margin();
        }
    }
}

.site-footer {

    @if $site-footer-fixed-enabled == true {
        position: absolute;
        bottom: 0;
        width: 100%;
        @include set-site-footer-height();
    }

    background-color: $site-footer-bg-color;
    // TBR
    padding: 0;
    // TBR

    @include clearfix();

    > .container {
        @include container-fixed();
        @include max-width();
        // TBR
        position: relative;
        z-index: z("default");
        // TBR
    }

    // TBR

    .footer-text-container {
        @media (min-width:$screen-md) {
            padding-right: $grid-gutter-width;
        }
    }

    .inner {
        margin: $content-section-spacing-xs 0;
        @media (min-width:$screen-md) {
            position: relative;
            width: 50%;
            margin: $content-section-spacing-md 0;
        }
        @media (min-width:$screen-xl) {
            margin: $content-section-spacing-xl 0;
        }
        & > * {
            & + * {
                margin-top: $site-footer-elements-spacing-xs;
                @media (min-width:$screen-md) {
                    margin-top: $site-footer-elements-spacing-md;
                }
                @media (min-width:$screen-xl) {
                    margin-top: $site-footer-elements-spacing-xl;
                }
            }
        }
    }

    .footer-social-profile-container {
        @media (min-width:$screen-md) {
            position: absolute;
            top: 0;
            right: $content-section-spacing-md;
            margin-top: 0;
        }
    }
    .map-container {
        position: relative;
        z-index: z("above");
        height: 300px;
        @media (min-width:$screen-md) {
            float: right;
            width: 50%;
            height: 500px;
            background-color: $gray;
        }
        .locations-map,
        .djangocms-googlemap,
        .djangocms-googlemap-container {
            height: 100% !important;
            width: 100% !important;
        }
    }
    // TBR

}
