// important: do not define anything else in this body tag
// it's only here because these settings are only used together with the footer
body {
    // only enabled if we're not on the styleguide page
    &:not(.tpl-styleguide) {
        @if $site-footer-fixed-enabled == true {
            @include set-site-footer-body-margin();
        }
    }
}

.site-footer {

    @if $site-footer-fixed-enabled == true {
        position: absolute;
        bottom: 0;
        width: 100%;
        @include set-site-footer-height();
    }

    background-color: $site-footer-bg-color;

    @include content-section-spacing-padding();
    @include clearfix();

    > .container {
        @include container-fixed();
        @include max-width();
        position: relative;
        z-index: z("default");
    }

    .footer-text-container {
        @media (min-width:$screen-md) {
            padding-right: $grid-gutter-width;
        }
    }

    .heading {
        margin-bottom: 10px;
    }

    .inner {
        @include clearfix();
        & > * {
            float: left;
            width: 100%;
            margin-top: $site-footer-elements-spacing-xs;
            @media (min-width:$screen-md) {
                &:nth-child(1) { width: 30%; }
                &:nth-child(2) { width: 35%; }
                &:nth-child(3) { width: 35%; }
                margin-top: 0;
            }
        }
    }

}
