.site-header {

    position: relative;
    z-index: z("site-header");
    background: rgba($site-header-bg-color,$site-header-bg-color-opacity);

    // optional: fix header
    @if $site-header-fixed-enabled == true {
        position: fixed;
        width: 100%;
        @include set-site-header-height();
    }

    // optional: change height in compact mode
    @if $site-header-compact-mode-enabled == true {
        transition: $site-header-compact-mode-transition;
        &.compact-mode {
            @include set-site-header-compact-mode-height();
        }
    }

    .container {
        @include container-fixed();
        @include max-width();
        height: 100%;
    }
}

.site-header-buffer {
    @if $site-header-fixed-enabled == true and $site-header-fixed-use-buffer == true {
        background: $site-header-fixed-buffer-bg;
        @include set-site-header-height();
    }
    @else {
        display: none;
    }
}

.navbar-brand {
    height: auto;
    > a {
        text-decoration: none;
    }
}

@if $primary-nav-collapsed-overlay-enabled == true {
    @media (max-width:$grid-float-breakpoint) {
        .nav-expanded {
            .primary-nav {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $primary-nav-collapsed-overlay-bg;
                z-index: z("default");
                .nav {
                    margin-top: $primary-nav-collapsed-overlay-spacing-top-xs !important;
                    @media (min-width:$screen-md) {
                        margin-top: $primary-nav-collapsed-overlay-spacing-top-md !important;
                    }
                    @media (min-width:$screen-xl) {
                        margin-top: $primary-nav-collapsed-overlay-spacing-top-xl !important;
                    }
                }
            }
        }
    }
}
