/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Replaces a button text with a loader

Required markup:

<a href="#" class="btn btn-default" data-btn-ajax-loader>
    <span class="btn-text"></span>
</a>

*/

[data-btn-ajax-loader] {
    @include the-loader();
    &:before {
        opacity: 0;
        transition: all $btn-loader-transition-duration $btn-loader-transition-timing-function $btn-loader-transition-delay;
    }
    & > .btn-text {
        transition: all $btn-loader-transition-duration $btn-loader-transition-timing-function $btn-loader-transition-delay;
    }
    &.loading {
        &:before {
            opacity: 1;
        }
        & > .btn-text {
            opacity: 0;
        }
    }
}
