/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Customizations

*/

.btn {
    // TBR
    padding-top: $btn-padding-top-default;
    padding-bottom: $btn-padding-bottom-default;
    // TBR
}

.btn-default {

    // TBR
    position: relative;
    padding-right: 1.5em;
    @include icon-left($padding: 2em, $icon: '\e902', $icon-size: 1em);
    &:before {
        left: 0.3em;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: -$form-field-border-width;
        right: -$form-field-border-width;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 0.8em 0.8em;
        border-color: transparent transparent #fff transparent;
    }
    // TBR

}
