{% extends base_template|default:"base.html" %}

{% load cms_tags allink_cms_tags sekizai_tags i18n allink_image_tags thumbnail allink_seo_tags %}

{% block meta_tags %}
    {% render_meta_og object %}
{% endblock meta_tags %}

{% block h1_tag %}{% render_h1 object %}{% endblock h1_tag %}

{# Page Title - Required for Softpage (Google Tag Manager) #}
{% block softpage_title %}{{ object.title }} | {% if allink_config.default_base_title %}{{ allink_config.default_base_title }}{% else %}{{ request.site.name }}{% endif %}{% endblock softpage_title %}

{% block content %}

    <div class="content-section content-plugin app-content-header container-enabled no-spacings" data-scroll-spy>
        <div class="col-1-1 main-col-container">
            <div class="container">
                <div class="inner">
                    <div class="col-container">
                        <div class="col-container-inner">
                            <div class="col align-v-desktop-middle">
                                <div class="text-container">
                                    <h2>{% render_model_ajax object "title" %}</h2>
                                    {% if object.lead %}
                                        <p class="lead">
                                            {{object.lead}}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                {% if object.preview_image %}
                                    <div class="image-container">
                                        {% render_app_content_image_detail thumbnail_url="square-col-2" %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# content #}
    {% render_placeholder object.content_placeholder %}

{% endblock %}
