/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Default transition when elements are becoming visible during scrolling

*/

[data-scroll-spy] {
    opacity: 0;
    transition: $scroll-spy-default-transition;
}

.element-visible[data-scroll-spy] {
    opacity: 1;
}

