{% extends base_template|default:"base.html" %}

{% load cms_tags sekizai_tags i18n thumbnail %}

{# META Tag #}
{% if object.title %}
    {% block page_title %}
       {{object.title}}
    {% endblock page_title %}
{% endif %}
{% if object.og_description %}
    {% block meta_description %}
        {{object.og_description}}
    {% endblock meta_description %}
{% endif %}

{# SEO: OpenGraph #}
{% if object.og_title %}
    {% block og_title %}
       {{object.og_title}}
    {% endblock og_title %}
{% endif %}
{% if object.og_description %}
    {% block og_description %}
        {{object.og_description}}
    {% endblock og_description %}
{% endif %}
{% if object.og_image %}
    {% block og_image %}
        {{object.og_image.url}}
    {% endblock og_image %}
{% endif %}


{# Page Title - Required for Softpage (Google Tag Manager) #}
{% block softpage_title %}{{ object.title }} | {% if allink_config.default_base_title %}{{ allink_config.default_base_title }}{% else %}{{ request.site.name }}{% endif %}{% endblock softpage_title %}

{% block content %}
    <div class="content-section app-content-plugin detail-view work-plugin container-enabled">
        <div class="container" data-scroll-spy>

            {% if object.preview_image %}
                <div class="image-container header-image-container">
                    {% include "slider_detail/content.html" with display_title=False title_content=object.title %}
                </div>
            {% endif %}

            <header class="section-heading">
                <h1 class="heading">
                    {% render_model object "title" %}
                </h1>
            </header>

            <div class="app-detail-col-container col-2-1">

                <div class="col">
                    <div class="text-container">
                        {# optional: lead #}
                        {% if object.lead %}
                            <p class="lead">
                                {{object.lead|striptags}}
                            </p>
                        {% endif %}
                        {# we wouldn't be here if the text was empty #}
                        {{object.text}}
                    </div>
                </div>{# end .col #}

                <div class="col">
                    <div class="manage-spacings">
                        <div class="text-container">
                            {% comment %}

                                TBD

                            {% endcomment %}
                        </div>
                    </div>
                </div>{# end .col #}

            </div>{# end .col-container #}
        </div>
    </div>
{% endblock %}
