.navbar-toggle {

    position: absolute;
    top: $navbar-toggle-spacing-top;
    right: $navbar-toggle-spacing-right;
    height: 40px;
    width: 30px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    .nav-expanded & {
        z-index: z("above");
    }

    &:hover {
        background-color: transparent;
        .icon-bar {
            &,
            &:before,
            &:after {
                background: $navbar-toggle-bar-bg-collapsed-hover;
            }
        }
    }

    .icon-bar {
        &,
        &:before,
        &:after {
            content: '';
            position: absolute;
            border-radius: 1em;
            left: 0;
            height: 2px;
            width: 30px;
            background: $navbar-toggle-bar-bg-collapsed;
            transition: $navbar-toggle-bar-transition;
        }

        & {
            top: 20px;
        }

        &:before {
            top: -6px;
        }

        &:after {
            top: 6px;
        }
    }

    .nav-expanded & {

        &:hover {
            .icon-bar {
                &,
                &:before,
                &:after {
                    background: $navbar-toggle-bar-bg-expanded-hover;
                }
            }
        }

        .icon-bar {

            &,
            &:before,
            &:after {
                background: $navbar-toggle-bar-bg-expanded;
            }

            &:before,
            &:after {
                top: 0;
            }

            & {
                background: transparent;
                transform: rotate(-135deg)
            }

            &:before {
                transform: rotate(90deg)
            }
        }

    }
}
