.service-nav-container {
  display: inline-block;
}

.service-nav {

  text-align: center;

  li {
    display: inline-block;

  }

  > a {
  }

  a:link,
  a:visited {
    border: none;
    display: inline-block;
    padding: 10px ;
    color: cv(white);
  }

  a:hover,
  a:active,
  a:focus {
    color: cv(white);
  }

  .current-menu-item {

    a:link,
    a:visited {
      font-weight: 400;
    }

  }

}
