/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Import Fonts

*/

@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=2606cd17-d91b-4953-9f2a-71e462c8aa78");
@font-face{
    font-family:"Foundry Gridnik W01 Medium";
    src:url("/static/fonts/62244e77-fa40-4b47-ade1-972910405405.eot?#iefix");
    src:url("/static/fonts/62244e77-fa40-4b47-ade1-972910405405.eot?#iefix") format("eot"),url("/static/fonts/271127ae-b9f8-48b1-a6f5-27210f01f8a0.woff2") format("woff2"),url("/static/fonts/33210962-b9f8-41cf-a2d3-67cf2ca5a518.woff") format("woff"),url("/static/fonts/4cf526f3-ac69-4128-8008-79199d12812d.ttf") format("truetype"),url("/static/fonts/62120709-9776-4081-bcaa-7c68b1115bfa.svg#62120709-9776-4081-bcaa-7c68b1115bfa") format("svg");
}
@font-face{
    font-family:"Serifa W01_55 Roman";
    src:url("/static/fonts/d60f05ba-473f-4f6a-aed4-46b91e21919a.eot?#iefix");
    src:url("/static/fonts/d60f05ba-473f-4f6a-aed4-46b91e21919a.eot?#iefix") format("eot"),url("/static/fonts/08015965-8ffc-41c9-a4df-d05234b4394b.woff2") format("woff2"),url("/static/fonts/305f0d2c-2687-4916-bde8-91cd7875238c.woff") format("woff"),url("/static/fonts/c67a52a4-afff-4262-94e1-91a59eb90b82.ttf") format("truetype"),url("/static/fonts/5d10bfc6-f9b2-4494-a6a7-14cc6e7a79f3.svg#5d10bfc6-f9b2-4494-a6a7-14cc6e7a79f3") format("svg");
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

General Font Settings

*/

html {
  font-size: 62.5%; // (Almost) equal to 10px (when default browser setting of 16px). Meaning 1rem ~= 10px
}

// default text color
body {
    color: $body-color;
    @include text-default();
    @include print() {
        color: $body-color-print;
    }
}
// inverted text color
.inverted-colors {
    color: $body-inverted-color;
}

.form-control,
.dropdown-menu {
    @include input-default();
}

strong {
    @include font-family-bold();
}

em {
    @include font-family-italic();
}

p {
    // reset any margins, they are applied through the parent .text-container or on the spot
    margin: 0;
    @include p-default();
    &.small {
        @include p-small();
    }
    &.lead {
        @include p-lead();
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Basic Link

*/

a {

    &,
    &:link,
    &:visited {
        color: $link-color;
        text-decoration: $link-decoration;
        .inverted-colors & {
            color: $link-inverted-color;
        }
    }

    &:hover,
    &:active,
    &:focus {
        color: $link-color-hover;
        text-decoration: $link-decoration-hover;
        .inverted-colors & {
            color: $link-inverted-color-hover;
        }
    }

}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Selected Text

*/

::-moz-selection {
    background: $selection-bg-color;
    color: $selection-color;
}

::selection {
    background: $selection-bg-color;
    color: $selection-color;
}
