.table-alumni {
    td {
        width: 25%;
        min-width: 200px;
        padding-right: 1em;
        &:last-child {
            padding-right: 0;
        }
    }
}

.table-dozent {
    td {
        vertical-align: middle;
        padding-right: 1em;
    }
    td:nth-child(1) { width: 28%; min-width: 200px; }
    td:nth-child(2) { width: 28%; min-width: 200px; }
    td:nth-child(3) { width: 28%; min-width: 200px; }
    td:nth-child(4) { width: 16%; min-width: 120px; text-align: right; padding-right: 0; }
}
