/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Print: Add print styles on the spot. Easier than to navigate back and forth

===

.example-element {
        color: red;
        @include print() {
            color: green;
        }
}

*/

@mixin print( ) {
    @media print { @content; }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Accessibility: Visually hide e.g. text elements, while still
making them crawlable for search engines and readable for screenreaders

*/

@mixin sr-only() {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0); /* IE6, IE7 */
    border: 0;
}

// undo the hide element thing
@mixin undo-sr-only() {
    position: static;
    margin: 0;
    height: auto;
    width: auto;
    overflow: auto;
    left: auto;
    clip: auto;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Placeholder Styles

===

@include placeholder() {
        color: #123456;
}

*/

@mixin placeholder() {
    &::-webkit-input-placeholder {@content};
    &:-moz-placeholder           {@content};
    &::-moz-placeholder          {@content};
    &:-ms-input-placeholder      {@content};
}
