@mixin bullet-list() {
    padding-left: 0;
    list-style-type: none;
    li {
        position: relative;
        @include icon-left(1em, '•', 15px);

        &:before {
            font-family: inherit;
            top: 4px;
            transform: translate(0,0);
        }
    }
}

@mixin horizontal-list() {
    list-style: none;
    padding: 0;
    @include clearfix();
    > li {
        float: left;
        margin: 0;
    }
}
