{% load i18n %}

{#{% if request.GET.danke  %}#}
{#    <p>Vielen Dank für Ihre Anfrage!</p>#}
{#    <p>Unsere Mitarbeiter werden Sie so schnell wie möglich kontaktieren.</p>#}
{#    <p class="btn-container">#}
{#        <a href="#" class="btn btn-default close-form-modal">#}
{#            {% trans "Ok" %}#}
{#        </a>#}
{#    </p>#}
{#    <script type="text/javascript">#}
{#        dataLayer.push({'event': 'contact_request_sent'});#}
{#    </script>#}
{#{% else %}#}
    <h3 class="heading">{% if form_title %}{{ form_title }}{% else %}{% trans 'Kostenlosen Termin vereinbaren' %}{% endif %}</h3>

    <div class="form-modal-container">
        <form id="contact-form" class="form-stacked form-default" role="form" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {% if field.name != 'date' and field.name != 'time' and field.name != 'date_from' and field.name != 'date_to'%}
                    {% include "includes/forms/form_field.html" with style='stacked' %}
                {% endif %}
                {% if field.name == 'date_from' %}
                    <div class="form-group date-time-selection">
                    <label class="control-label">Datum Von</label>
                    <div class="row">
                        <div class="col-sm-12 {% if form.date_from.errors %}has-error{% endif %}">
                        <label for="{{ form.date_from.id_for_label }}" class="sr-only">
                            {% trans "Datum auswählen" %}
                        </label>
                            <div class="datepicker-container">
                                <div class="datepicker">
                                    {{ form.date_from }}
                                    <span class="input-btn" data-toggle><i class="icomoon-calendar"></i></span>
                                </div>
                            </div>
                            {{ form.date_from.errors }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if field.name == 'date_to' %}
                    <div class="form-group date-time-selection">
                        <label class="control-label">Datum Bis</label>
                    <div class="row">
                        <div class="col-sm-12 {% if form.date_to.errors %}has-error{% endif %}">
                        <label for="{{ form.date_to.id_for_label }}" class="sr-only">
                            {% trans "Datum auswählen" %}
                        </label>
                            <div class="datepicker-container">
                                <div class="datepicker">
                                    {{ form.date_to }}
                                    <span class="input-btn" data-toggle><i class="icomoon-calendar"></i></span>
                                </div>
                            </div>
                            {{ form.date_to.errors }}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% if not request.GET.no_date  %}
                <div class="form-group date-time-selection">
                    <label class="control-label">Wann sollen wir Sie anrufen?</label>
                    <div class="row">
                        <div class="col-sm-12 {% if form.date.errors %}has-error{% endif %}">
                        <label for="{{ form.date.id_for_label }}" class="sr-only">
                            {% trans "Datum auswählen" %}
                        </label>
                            <div class="datepicker-container">
                                <div class="datepicker">
                                    {{ form.date }}
                                    <span class="input-btn" data-toggle><i class="icomoon-calendar"></i></span>
                                </div>
                            </div>
                            {{ form.date.errors }}
                        </div>
                        <div class="col-sm-12 {% if form.time.errors %}has-error{% endif %}">
                            <label for="{{ form.date.id_for_label }}" class="sr-only">
                                {% trans "Zeitraum auswählen" %}
                            </label>
                            <div class="custom-select">
                                {{ form.time }}
                            </div>
                            {{ form.time.errors }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-24">
                        <button type="submit" class="btn btn-default" data-ajax-send-form>Senden</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{#{% endif %}#}
