.social-profiles-container {

    text-align: $social-profile-icon-alignment;

    // TBR
    @media (max-width:$screen-sm-max) {
        text-align: left;
    }
    // TBR

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        & + li {
            margin-left: $social-profile-icon-spacing;
        }
    }

    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
    }

    .social-icon {
        display: block;
        &:before {
            @include icomoon();
            display: block;
            font-size: $social-profile-icon-size;
            color: $social-profile-icon-color;
            opacity: $social-profile-icon-opacity;
            transition: $social-profile-icon-transition;
            .site-footer & {
                color: $link-inverted-color;
            }
        }
    }

    a:hover,
    a:focus {
        .social-icon {
            &:before {
                color: $social-profile-icon-color-hover;
                opacity: $social-profile-icon-opacity-hover;
                .site-footer & {
                    color: $link-inverted-color-hover;
                }
            }
        }
    }

    @each $selector, $icon in $social-profile-icons {
        .#{$selector} {
            &:before {
                content: $icon;
            }
        }
    }

}
