.table-default {
    th,
    td {
        border-bottom: 1px solid $black;
    }
    td {
        padding-right: 1em;
        &:last-child {
            padding-right: 0;
        }
    }
    tbody {
        tr:last-child > td {
            border-bottom: none;
        }
    }
}

.table-alumni {
    td:nth-child(1) { width: 25%; min-width: 200px; }
    td:nth-child(2) { width: 35%; min-width: 200px; }
    td:nth-child(3) { width: 15%; min-width: 200px; }
    td:nth-child(4) { width: 25%; min-width: 120px; padding-right: 0; }
}

.table-dozent {
    td:nth-child(1) { width: 25%; min-width: 200px; }
    td:nth-child(2) { width: 40%; min-width: 200px; }
    td:nth-child(3) { width: 20%; min-width: 200px; }
    td:nth-child(4) { width: 15%; min-width: 120px; text-align: right; padding-right: 0; }
}
